<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">&#128739; PotholeGuard</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report" routerLinkActive="active"> Report </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/potholes" routerLinkActive="active"> All Potholes </a>
      </li>
    </ul>
  </div>
</nav>
